/*============================

Universal Styling

============================*/

* {
  margin: 0;
  padding: 0;
  border: 0;
  text-decoration: none;
  color: #234058;
}

.container {
  color: #234058;
  overflow-x: hidden;
  max-width: 1280px;

}

main {
margin: 1% 0%;
}

h1, h2 {
  font-family: 'Raleway', sans-serif;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
}

p {
  font-family: 'Oswald', sans-serif;
  text-transform: capitalize;
  letter-spacing: 1px;
  text-align: center;
}

li {

}

h3 {
  font-size: 35px;
  font-family: 'Raleway', sans-serif;
}

/*============================

Nav Styling

============================*/

header {
  height: 52px;
}

header .nav-logo {
  float: left;
  padding: 0px 20px;
}

.navbar li {
  font-family: 'Raleway', sans-serif;
  display: inline-block;
}

#navcenter {

  font-size: 25px;
  color: #234058;
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  word-spacing: 25px;
  padding-top: 20px;
  text-align: center;
  padding-right: 175px;
}

/*========================================


  Welcome Styling


===========================================*/

.welcome {
  background: #f9bba5;
  padding: 5px;
}

h1 {
  font-size: 30px;
}

.welcome p {
  text-align: start;
  font-size: 20px;
  width: 65%;
  padding: 0px 225px;
  margin: 25px;
  text-transform: none;
}

/*========================================


  Education Styling

===========================================*/


.education {
  background: #86a3a9;
  padding: 20px 0px 175px;
  text-align: center;
}

.education p {
text-align: left;
text-transform: none;
width: 630px;
display: inline-block;
}

.woods {
  padding: 0% 10% 0% 0%;
  float: right;
}

.twentytwo {
  padding: 1% 0% 0% 10%;
  float: left;
}

.pright {
  padding: 5px 30px 10px 20px;
  display: flex;
}
/*========================================


  Work Styling


===========================================*/

.work {
  font-family: 'Oswald', sans-serif;
  background: #beb9b3;
  padding: 5px 0px 5px 0px;
  text-align: center;
}

.work h2, .portfolio h2 {
font-size: 30px;
padding: 10px 0px 0px 0px;
}

.underline {
  border-bottom: 3px solid #234058;
  width: 500px;
  padding-bottom: 0px;
  margin: 0px auto;
}

.work h3 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}

.work p{
  margin: 0px;
  font-weight: 100;
}

.work li {
  padding: 3px;
  font-size: 15px;
  min-width: 437px;
  text-align: center;
}

.button {
  line-height: 40px;
  padding: 5px 20px;
  font-size: 15px;
  text-align: center;
  color: #fff;
  border-radius: 5px;
  background-color: #234058;
  box-shadow: inset 0px -4px 3px #2f5574;
  margin: 5px auto;
}

.button:hover {
  background-color: #2f5574;
}

.button:active {
  box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6), inset 2px 2px 3px rgba(0, 0, 0, .6);
}
/*========================================


  Portfolio Styling


===========================================*/
.portfolio {
  background: #f9bba5;
  padding: 5px 0px;
  text-align: center;
}

.example-image-link {
  display: inline-block;
  padding: 5px;
  margin: 5px 10px;
}


/*========================================


  Form Styling


===========================================*/
.contact-form {
  background: #86a3a9;
  padding: 20px;
  color: #234058;
  font-family: 'Raleway', sans-serif;
}

.label_input_wrap {
  display: block;
  font-weight: bold;
}

.submit input {
  background: #f9bba5;
  padding: 6px 30px;
  font-size: 13px;
  font-weight: bold;
  color: #234058;
}

.spacing {
  margin-bottom: 5px;
}

input {
padding: 5px 20px;
border-radius: 4px;
font-family: 'Oswald', sans-serif;
text-align: left;
font-size: 10px;
}

textarea {
  font-family: 'Oswald', sans-serif;
  padding: 6px 10px;
  border-radius: 4px;
}

.links {
  display: inline-block;
  float: right;
  padding-right: 388px;
  padding-top: 50px;
}

/*
========================================


  Footer Styling


===========================================*/
footer{
  padding-top: 15px;
}

footer p {
  font-family: 'Raleway', sans-serif;
  padding-left: 20px;
}

footer img {
  float: right;
  padding-right: 20px;
}
